import os
import logging

# API Configuration

MCU_API_HOSTNAME = 'mcu.mydomain.com'
MCU_API_URL = '/RPC2'
MCU_API_USERNAME = 'username'
MCU_API_PSW = 'password'
MCU_API_VERSION = '2.8' # Only 2.8 implemented

# LOGGING

LOG_FILEPATH = os.path.join('logs', 'mcu.log')
LOG_ERROR_FILEPATH = os.path.join('logs', 'error.log')
LOG_LEVEL = logging.DEBUG

LOG_EMAIL = False
LOG_MAIL_HOSTNAME = "mail.server.com"
LOG_MAIL_FROM = "mail_from@mydomain.com"
LOG_MAIL_TO = ["mail_to@mydomain.com"]

# Conferences to be controlled and restored

WATCHDOG_CONFERENCES = [
    {
        "name": "Conf 1 Name",
        "locked": True,
        "participants": [
            {
                "name": "shortname1",
                "display_name": "Nice name 1",
                "address": "xxx.xxxx.xxxx.xxx",
                "layout_index": "1"
            },
            {
                "name": "shortname2",
                "displayName": "Nice name 2",
                "address": "xxx.xxxx.xxxx.xxx",
                "layout_index": "2"
            }
        ]
    }
]